button {
    background-color: #ff6f61; /* Color bonito pastel */
    color: white;
    font-size: 16px;
  }

  nav {
    background-color: #333; 
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: white; 
    margin: 0 15px; 
    font-size: 18px;
  }
  
  nav a:hover {
    color: #ff6f61; 
  }
  